{% extends "base.html" %}

{% block title %}{{ block.super }} - einen Ort hinzufügen{% endblock %}

{% block content %}
<div class="row">
  <div class="container well">
    <div class="span12">
      <form action="{{ action_url }}" method="post" accept-charset="utf-8">
        {{ form.as_p }}
        <input id="id_book_uuid" type="hidden" name="book_uuid" value="{{ uuid }}">
        {% csrf_token %}
        <p><button type="submit" class="btn btn-warning">Speichern</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}