{% extends "base.html" %}

{% block title %}{{ block.super }} - Urheberrecht{% endblock %}

{% block content %}
<div class="row">
  <div class="container well">
    <div class="span12">

      <h2> Urheberrecht </h2>

      <blockquote class="space_right">
        <small>
          Nachfolgende Texte stehen unter CC-BY Lizenz,<br /> Rechteinhaber im Sinne der Lizenz ist die Piratenpartei Bayern.
        </small>
      </blockquote>
      <br />
      <div class="space_right">
      <p>
        Die technische Entwicklung der letzten Jahrzehnte, vor allem die digitale Revolution und das Internet, ringt Veränderungen mit sich, die eine Anpassung bestehender Gesetze und Vorstellungen erfordern. Insbesondere im Urheberrecht ist die Notwendigkeit solcher Veränderungen deutlich ‒ die Forderung nach einer Liberalisierung und Modernisierung der bestehenden Urheberrechtsgesetze gehört zu den Gründungsthemen der Piratenbewegung und stellt nach wie vor einen der Kernpunkte des Programms und der Identität der Piraten dar. <br />Die folgenden Ausführungen sollen einen Überblick über unsere Forderungen und Argumente in diesem Themenbereich verschaffen.
      </p>

      <h3>
        I. Legalisierung des nichtkommerziellen Kopierens und Verbreitens urheberrechtlich geschützter Werke; Stärkung der Privatkopie
      </h3>

      <p>
        Der wohl bekannteste Punkt aus dem Piratenprogramm, der oft als „Abschaffung des Urheberrechts" fehlinterpretiert wird.<br /> Davon kann keine Rede sein, denn er greift weder die Persönlichkeitsrechte des Urhebers nochseine Rechte auf kommerzielle Verwertung der eigenen Werke an.<br /> Für die Freigabe der nichtkommerziellen Vervielfältigung sprechen aus unserer Sicht zwei gewichtige Argumente:
      </p>

      <ol>
        <li>
          Der freie Zugang zu Wissen und Kultur ist entscheidend für die Entwicklung der Gesellschaft - also wichtig und wertvoll. Ihn aus wirtschaftlichen Überlegungen einzuschränken, ist gesellschaftlich nicht tragbar. Mit der Entwicklung immer neuer Technologien (vom Buchdruck zu Ton- und Videoaufnahme bis schließlich hin zur Digitalisierung und des Internets) wird die Verbreitung von Informationen fortwährend erleichtert. Das ist eine begrüßenswerte Entwicklung, die gefördert und nicht durch Gesetze verhindert werden sollte.
        </li>
        <li>
          Immer wieder aufkommende Vorschläge zu Maßnahmen wie Vorratsdatenspeicherung, Netzsperren oder Sperrung von Internetanschlüssen ganzer Haushalte in Verbindung mit Urheberrechtsverletzungen zeigen, dass die Durchsetzung von Urheberrechten im nichtkommerziellen Bereich eine Überwachungsinfrastruktur im Internet, eine Einschränkung der Kommunikationsfreiheit und einen Eingriff in die Privatsphäre der Bürger erfordert, die weder akzeptabel noch verhältnismäßig sind. 
        </li>
      </ol>

      <p>
        Ebenso setzen wir uns für das Recht auf Privatkopie ein, das zwar formell gegeben ist, durch Kopierschutzmaßnahmen aber systematisch ausgehöhlt wird. Diese Maßnahmen greifen in die Rechte der Nutzer ein und führen zu einer eingeschränkten Benutzbarkeit alter Exemplare von Kulturgütern; sie sind deshalb abzulehnen. Als erster Schritt müssen die Umgehung dieser Maßnahmen seitens der Nutzer und die Bereitstellung von Software zu diesem Zweck ausdrücklich erlaubt werden. 
      </p>

      <h3>
        II. Reduzierung der Schutzfristen für urheberrechtlich geschützte Werke
      </h3>

      <p>
        Die heutige Dauer von Schutzfristen sehen wir als völlig unverhältnismäßig an. Fristen bis viele Jahrzehnte nach dem Tod des Urhebers lassen sich weder aus ökonomischer noch aus philosophischer Sicht begründen und dienen einzig der Bereicherung der Rechteinhaber zu Lasten der Allgemeinheit indem durch Monopolrechte der Zugang zu diesen Werken eingeschränkt wird. Möglichkeiten zur Weiterentwicklung der Kultur, bei der immer auch bestehende Werke verwendet werden, werden ebenfalls beeinträchtigt. Auch die Urheber werden durch zu lange Schutzfristen gegenüber den Rechteverwertern benachteiligt, da sie weitgehend die Kontrolle über die eigenen Werke verlieren. Unsere Forderungen sehen eine Höchstdauer der Schutzfristen bis maximal 10 Jahre nach dem Tod des Urhebers vor. 
      </p>

      <h3>
        III. Stärkung der Gemeinfreiheit; Ausweitung der urheberrechtlichen Ausnahmen für Bildungs- und Wissenschaftszwecke
      </h3>

      <p>
        Gemeinfreie Werke bilden unseren gemeinsamen Kulturschatz und sind zu schützen, wie in dem 2010 von der Piratenpartei Deutschland unterzeichneten Public Domain Manifesto dargelegt. Bildung und Forschung haben einen besonderen Wert für die Gesellschaft, der über die kommerziellen Interessen der Urheber zu stellen ist, weshalb wir für eine Befreiung der Bildungseinrichtungen von Urheberrechtsabgaben und eine Ausweitung der Schranken des Urheberrechts für die Nutzung zu Bildungs- und Wissenschaftszwecken eintreten.
      </p>

      <h3>
        IV. Freier Zugang zu staatlich finanzierten Werken
      </h3>

      <p>
        Besonders im wissenschaftlichen Bereich werden Werke meist in staatlich finanzierten Einrichtungen erstellt, aber in kommerziell vertriebenen Zeitschriften veröffentlicht, die nicht einmal Bildungseinrichtungen kostenfrei zur Verfügung gestellt werden. Wird ein Werk durch den Staat - und somit die Gesellschaft - finanziert, so muss diese auch einfachen und kostenfreien Zugang dazu erhalten. Das trifft auch auf amtliche Werke zu, bei denen das Urheberrecht als Vorwand verwendet werden kann, um Transparenz zu verhindern, sowie auf durch öffentliche Gelder geförderte Kunst. 
      </p>

      <h3>
        V. Beschränkung der Abmahnindustrie
      </h3>

      <p>
        Die Praxis, massenhaft kostenpflichtige Abmahnungen wegen Urheberrechtsverletzungen zu verschicken und somit Gewinne für Anwälte und Rechteverwerter zu generieren, lehnen wir ab, da dadurch Internetnutzer drangsaliert werden und der Sinn von Abmahnungen verfälscht wird. Eine Beschränkung von Abmahnungen wegen Urheberrechtsverletzung gegenüber Privatpersonen ist ein kurzfristiges Ziel, dessen Erreichung spürbare positive Folgen für die Menschen hätte, ohne die Interessen der Urheber zu berühren. 
      </p>

      <h3>
        VI. Stärkung der Urheber gegenüber der Verwertungsindustrie
      </h3>

      <p>
        Das Urheberrecht ist eine Einschränkung der Rechte der Allgemeinheit an der Verwendung von Wissen und Informationen. Eine solche Einschränkung ist in gewissem Umfang gerechtfertigt, falls sie den Interessen der Urheber von Werken dient, keinesfalls aber darf sie zugunsten wirtschaftlicher Interessen Dritter stattfinden. Die derzeitigen Regelungen führen trotz eines stetig wachsenden Kulturgütermaktes nicht dazu, dass die Urheber angemessen an den daraus entstehenden Einnahmen beteiligt werden. Daher setzen wir uns für eine Stärkung der Urheber gegenüber Rechteverwertern ein, beispielsweise durch eine zeitliche Begrenzung der Vergabe ausschließlicher Verwertungsrechte (Buyout) und durch die Stärkung des Zweitverwertungsrechts der Urheber. 
      </p>

      <h2>
        Ausgewählte alternative Geschäftsmodelle 
      </h2>

      <h3>
        Verkauf der Erstveröffentlichung
      </h3>

      <p>
        In diesem Geschäftsmodell werden geistige Werke von der Allgemeinheit "freigekauft":<br />
        jeder Interessierte entscheidet anhand einer freien Teilveröffentlichung des Werks (z.B. einem Trailer) selbst, ob und wie viel er zu zahlen bereit ist. Das Werk in seiner Gesamtheit wird erst veröffentlicht, wenn ein vom Urheber vorgegebenes Einnahmeziel erreicht ist. Ein Anbieter dieses Geschäftsmodells ist beispielsweise SellYourRights; zu derartig verkauften Werken zählt z.B. das Musik-Album "One Night" von Desert Next Door. Im Filmbereich, der erhebliche anfängliche Investitionen verlangt, geht dieses Modell in die „Schwarmvorfinanzierung" über: die Masse der Nutzer nimmt dabei die Rolle des Sponsors ein und finanziert die Fertigstellung eines Werkes im Vorfeld durch freiwillige Kleinbeträge. Daraufhin wird das Werk unter einer freien Lizenz veröffentlicht. Ein Beispiel dafür bietet der Anbieter Kickstarter; derartig finanzierte Werke sind unter anderem der Film "Blue Like Jazz" (Ziel: 125.000$; es wurde über das Dreifache eingenommen).
      </p>

      <h3>
        Social Payment
      </h3>

      <p>
        Dieses Modell gibt den Nutzern die Möglichkeit, für geistige Werke im Internet, die ihnen gefallen, eine unkomplizierte, freiwillige Kleinabgabe direkt an die Urheber zu entrichten. Prominente Beispiele für Social Payment-Anbieter sind Kachingle, VODO und Flattr. Auf diese Weise finanzieren sich beispielsweise Wikimedia, das Freenet Projekt, das Online-Radio "Chaosradio Express", der Film "Us Now" und andere Projekte. 
      </p>

      <h3>
        Freizügiges Freemium
      </h3>

      <p>
        Freizügiges Freemium ist ein häufig auf Social Payment aufbauendes Geschäftsmodell, das es jedem erlaubt, einen Dienst gratis zu nutzen, und dabei versucht, Stamm- oder Vielnutzer als zahlende Kunden zu gewinnen, indem die Zahlung mit zusätzlichen Möglichkeiten und Prämien belohnt wird. Ein Anbieter für freizügiges Freemium ist zum Beispiel VODO; dieses liegt auch dem Refinanzierungsansatz der Serien "Pioneer One" und "Zenith", dem Film "The Yes Men Fix The World - P2P Edition" und der Online-Zeitung FT zugrunde. 
      </p>

      <h3>
        Werbefinanzierung
      </h3>

      <p>
        Ein Modell, das in keiner Weise „neu" ist und seit langer Zeit die meisten Fernsehsender und viele Druckmedien finanziert. Das Prinzip: <br />
        Inhalte werden kostenlos angeboten und mit der Ausstrahlung von Werbung verknüpft. Das Einkommen wird dabei durch die Werbekunden generiert, während der Endnutzer die Inhalte kostenfrei nutzen kann. Im Internet zeigt beispielsweise Google eindrucksvoll das Potential von werbefinanzierten Geschäftsmodellen auf. 
      </p>

      <h3>
        Verkauf von nicht-kopierbaren Leistungen
      </h3>

      <p>
        Dieses Modell ist ebenfalls alles andere als neu, denn lange bevor Datenträger den Einzug ins tägliche Leben gefunden hatten, bildete es die Einnahmequelle in vielen kreativen Bereichen - beispielsweise Konzertauftritte für Musik oder Kinobesuche für Filme. Obwohl die Verbreitung von Daten stetig leichter wird, bleiben mit dem Werk verknüpfte Leistungen, die nicht kopierbar sind und somit weiterhin erfolgreich verkauft werden können, bestehen. Neben den zuvor genannten zählen dazu Lesungen oder auch Merchandising-Produkte mit Motiven aus beliebten Werken. Im Softwarebereich wird es vielmals angewendet, indem das Programm kostenlos zur Verfügung gestellt wird, der professionelle Kundendienst aber einen ostenpflichtigen Zugang verlangt.
      </p>
      </div>

    </div>
  </div>
</div>
{% endblock %}