{% extends "base.html" %}

{% block title %}{{ block.super }} - Die IDee{% endblock %}

{% block content %}
<div class="row">
  <div class="container well">
    <div class="span12">

      <h2>Die Idee</h2>
    
      Die Idee des Wanderbuchs ist angelehnt an die Idee des <a href="http://www.bookcrossing.de/">bookcrossing</a>. <br />Menschen auf der ganzen Welt teilen Wissen und Kultur mit anderen, ihnen völlig unbekannten Menschen. <br />Gleichzeitig können sie verfolgen, wie ihr Buch die Welt bereist und wo es schon überall war. <br />
      <br />
      Mit dem Wanderbuch möchten die Piraten parallel zur Leipziger Buchmesse darauf hinweisen, wie großartig die <br />
      Idee des Teilens von Wissen und Kultur ist und das diese Idee sich weder von geographischen Grenzen, <br />
      noch von gesetzlichen Restriktionen aufhalten läßt. <br />

      <h2>Der Ablauf:</h2>
      <p>
        Du hast vermutlich ein Buch gefunden, in dessen Einband ein Hinweis auf diese Seite vermerkt wurde.<br />
        Wenn du die Idee toll findst und dein Buch auch auf die Reise gehen soll, trage es doch bitte<br />
        <a href="/add/book">hier</a> ein.<br />
        <br />
        Anschließend wünschen wir dir viel Spaß beim Lesen. Wenn du damit fertig bist, lasse dein <br />
        Buch doch einfach an einem belebten Ort, bspw. einem Café liegen, so daß ein anderer Mensch es <br />
        mitnehmen kann und hoffentlich auch Freude daran haben wird. Über die Zeit wird das Buch viele Wege <br />zurücklegen, die du hier nachverfolgen kannst.
      </p>

    </div>
  </div>
</div>
{% endblock %}