{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript">
  $(document).ready( function() {
    $('.wanderbuch_id').popover()
  }) 
</script>

<div class="row">
  <div class="container well">
    <div class="span8">
      <div>
        <h2>Du hast ein Buch gefunden?</h2> 
        <p>
          Schau doch nach, wo es schon überall war und sei so lieb und trag ein, wo es jetzt gerade ist. 
        </p><br /><br />

      <form action="{{ action_url }}" method="get" accept-charset="utf-8">
          <div class="book_id_search_form">
            Eindeutige
            <a class="wanderbuch_id" 
                data-original-title="Die Wanderbuch ID ist auf der 1. Seite des Buches zu finden.">
              Wanderbuch ID:
            </a>
          </div>
          <input class="book_uuid_field" name="book_preffix" type="text" size="5" maxlength="5">
          <b id="minus">-</b>
          <input class="book_uuid_field suffixfield" name="book_suffix" type="text" size="6" maxlength="6">
          <button type="submit" class="btn btn-warning" id="id_search_button">Buch suchen</button>
        </form>
      </div>
    </div>
    <div class="span3 well portlet">
      <ul class="nav nav-list">
        <li class="nav-header">
          kürzlich hinzugefügte Bücher
        </li>
        {% for book in object_list %}
        <li><a href="/book/{{ book.slug }}"><i class="icon-book"></i>{{ book.title }}</a></li>
        {% endfor %}
        <li class="divider"></li>
        <li>
          <a href="{{ SITE_URL }}/add/book" class="btn btn-warning"><i class="white-icon-plus-sign"></i> 
            Ein neues Buch hinzufügen
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}