{% extends "base.html" %}

{% block title %}{{ block.super }} - Datenschutz{% endblock %}

{% block content %}
<div class="row">
  <div class="container well">
    <div class="span12">
    <h2>Datenverarbeitung auf dieser Internetseite</h2>
    <br/>
	<p>Wir erheben und speichern automatisch in Server-Logfiles Informationen, die Dein Browser an den Server übermittelt.</p>

	<p>Dies sind:</p>
	<ul>
	  <li>Browsertyp/ -version</li>
      <li>verwendetes Betriebssystem</li>
      <li>Referrer URL (die zuvor besuchte Seite)</li>
      <li>Uhrzeit der Serveranfrage</li>
    </ul>

    <strong>Darüber hinaus werden keine Daten erhoben. Auch das Eintragen neuer Bücher bedarf keiner Registrierung oder Anmeldung.</strong>

	<p>Diese Daten sind für uns nicht zu bestimmten Personen zuzuordnen. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen, die Daten werden zudem nach einer statistischen Auswertung gelöscht.</p>

	<h3>Cookies</h3>

	<p>Die Internetseiten verwenden an einigen Stellen sogenannte Cookies. Sie dienen dazu, das Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Deinem Rechner abgelegt werden und die Dein Browser speichert. Die meisten der hier verwendeten Cookies sind sogenannte Session-Cookies. Sie werden nach Ende Deines Besuchs automatisch gelöscht. Cookies richten entgegen vielen unrichtigen Berichten auf Deinem Rechner keinen Schaden an und enthalten keine Viren.</p>

	<p>Du kannst das Speichern von Cookies verhindern, indem Du dies in Deinen Browser-Einstellungen festlegst. Die meisten Browser akzeptieren Cookies nach den Standardeinstellungen automatisch. <br />Du kannst auch bereits angelegte Cookies mit Deinem Browser selbst löschen.</p>

	<p>Natürlich kannst Du die Seiten auch ohne Cookies betrachten. Wenn Du keine Cookies akzeptierst, kann dies jedoch zu Funktionseinschränkungen einzelner Angebote führen.</p>

	<h3>Auskunftsrecht</h3>

	<p>Du hast jederzeit das Recht auf Auskunft über die bezüglich Deiner Person gespeicherten Daten, deren Herkunft und Empfänger sowie den Zweck der Speicherung. <br />Unsere Kontaktdaten findest Du im Impressum. Es ist allerdings durchaus möglich, dass wir Dir keinerlei Informationen liefern können, weil wir die möglicherweise vorhandenen Daten gar nicht Dir zuordnen können, da wie oben bereits beschrieben, keine personenbezogenen Daten erfasst werden.<p>

	<h3>Weitere Informationen</h3>

	<p>Wenn Du Fragen hast, die Dir diese Datenschutzerklärung nicht beantworten konnte, oder wenn Du zu einem Punkt weitere Informationen wünschst, wende Dich bitte jederzeit an uns.</p>
    </div>
  </div>
</div>
{% endblock %}